<% content_for(:html_title) { 'Edit Phone - Pro Phones' } %>
<h1><%= t('.title') %></h1>

<%= render 'form', phone: @phone %>

<%= link_to 'Show', @phone, {class: "default_btn"} %> |
<%= link_to 'Back', phones_path, {class: "default_btn"} %>
