<%# Script tag for the jquery validate, it doesn't seem to be working when it is in the application.html.erb %>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<section class="default_form">
  <h1><%= t('.title') %></h1>
  <%= render 'form', order: @order %>
</section>
