.carts {
  
    table {
      border-collapse: collapse;
    }
    .carts_id{
      color: white;
      font-weight: bold;
      text-align: center;
    }
    td {
      padding: 0.5em;
      color: black;
    }
    td.quantity {
      white-space: nowrap;
    }
    td.quantity::after {
      content: " ×";
    }
    td.price {
      font-weight: bold;
      text-align: right;
    }
    tfoot {
      th, td.price {
        font-weight: bold;
      }
      th {
        text-align: right;
      }
      td.price {
        color: #0071e3;

      }
    }
    input[type="submit"] {
      background-color: #0071e3;
      border: none;
      margin-left: 20px;
      color: white;
      padding: 4px 11px;
      text-align: center;
      text-decoration: none;
      font-size: 1em;
      cursor: pointer;
      font-weight: 400;
      letter-spacing: -.01em;
      border-radius: 12px;
      width: 214px;     
  }
  input[type="submit"]:hover {
      background-color: #0077ed;
  }
}