// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes highlight-line-item {
    0% {
      background: #0071e3;
    }
    100% {
      background: none;
    }
  }
  
  .highlight-line-item {
    animation: highlight-line-item 2s;
  }