body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

p, ol, ul, td {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  padding: 10px;
  background-color: #eee;
  font-size: 11px;
}

th {
  padding-bottom: 5.1px;
}

td {
  padding: 0 5.1px 6.5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10.1px;
  }
}

#notice {
  color: black;
}

.field_with_errors {
  display: table;
  background-color: rgba(255, 0, 0, 0.884);
  padding: 2px;
}

#error_explanation {
  background-color: #f0f0f0;
  width: 450px;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 0, 0, 0.904);


  h2 {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin: -7px -7px 0;
    padding: 5px 5px 5px 15px;
    background-color: rgba(204, 0, 0, 0.918);
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
