// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
    max-width: 80em;
    ul.catalog {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 1em;
            margin: 0;
            border-bottom: solid thin #ddd;
            // This makes sure our <li> has enough height
            // to hold the entire image, since it's floated
            &::after {
                clear: both;
                content: " ";
                display: block;
            }
            img {
                float: left;
                padding: 1em;
                margin-right: 1em;
                margin-bottom: 1em;
                width: 250px;
            }
            .price {
                font-size: 1.414em;
            }
            form,
            div {
                display: inline;
            }
            input[type="submit"] {
                background-color: #0071e3;
                border: none;
                color: white;
                padding: 4px 11px;
                text-align: center;
                text-decoration: none;
                font-size: 12px;
                cursor: pointer;
                font-weight: 400;
                letter-spacing: -.01em;
                border-radius: 12px;
                line-height: 1.33337;      
            }
            input[type="submit"]:hover {
                background-color: #0077ed;
            }
        }
    }
}